* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Apparel Bold";
  src: url(fonts/Apparel-Bold.ttf);
}
@font-face {
  font-family:"Apparel Regular";
  src:url(fonts/Apparel-Regular.ttf);
}
@font-face {
  font-family: "Amiko Bold";
  src: url(fonts/Amiko-Bold.ttf)
}
@font-face {
  font-family: "Apparel Regular Italic";
  src: url(fonts/Apparel/Apparel-Regular-It.ttf);
}
@media (min-width:1000px) {
  .hidden-ss {
    display: none !important;
  }
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}
body {
  background-color:#3B465C;
  height:100vh;
  position:relative;
  color: #F1F1E4;
}
section {
  height:100vh;
  position: relative;
}
#section-2 {
  background-color:#1D232E;
  padding: 5%;
}

#logo {
  font-family: "Amiko Bold";
  font-size:1.1rem;
  margin: 10px 10px 90px 10px;
}
#welcome-message {
  font-family:"Amiko Bold";
  font-size: 5rem;
  margin-top:-20%;
}
#sub-message {
  font-family: "Apparel Regular";
  width:100%;
  font-size:2rem;
  letter-spacing: .1em;
  font-weight:500;
  margin-top:1.5em;
}
.circle {
  width: 44rem;
  height: 0;
  line-height: 128px;
  padding:22rem 0;
  border-radius: 75%;
  font-size: 20px;
  text-align: center;
  background: hsla(57, 32%, 87%,80%);
  margin:0 auto;
}

a#scroll-button {
  border: solid #F1F1E4;
  border-width: 0 .5rem .5rem 0;
  border-radius:.25em;
  display: inline-block;
  padding: .6rem;
  transform: rotate(45deg);
}
.button {
  position:relative;
  bottom: 0px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.button:hover {
  transform: translateY(-10px);
}

#word {
  font-size: 5rem;
  font-family: "Apparel Bold";
  letter-spacing: 2px;
}
#pronounciation {
  font-size: 1.7rem;
  font-family: "Apparel Bold";
}
#definition {
  margin-top:1em;
  font-size: 1rem;
  font-family: "Apparel Regular Italic";
  line-height:2em;
  font-weight: ;
  color: hsl(60, 32%, 92%, 70%);
  letter-spacing: 0.1em;
  margin-left:1rem;
}
#bold {
  letter-spacing:0.2em;
}
