* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor:none;
}

@font-face {
  font-family: "Apparel Bold";
  src: url(fonts/Apparel-Bold.ttf);
}
@font-face {
  font-family:"Apparel Regular";
  src:url(fonts/Apparel-Regular.ttf);
}
@font-face {
  font-family: "Amiko Bold";
  src: url(fonts/Amiko-Bold.ttf)
}
@font-face {
  font-family: "Amiko Regular";
  src: url(fonts/Amiko-Regular.ttf)
}
@font-face {
  font-family: "Apparel Regular Italic";
  src: url(fonts/Apparel-Regular-It.ttf);
}
@font-face {
  font-family: "Apparel Display Regular";
  src: url(fonts/Apparel-Display-Regular.ttf);
}
@font-face {
  font-family: "Apparel Bold Italic";
  src: url(fonts/Apparel-Bold-It.ttf);
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  
}
::-moz-selection {
  color: 	hsla(220, 22%, 30%,90%);
  background: hsla(60, 32%, 92%, 80%);
}
::selection {
  color: 	hsla(220, 22%, 30%,90%);
  background: hsla(60, 32%, 92%, 80%);
}
body {
  height: 100vh;
  position: relative;
  color: #F1F1E4;
  overflow-x: hidden;
}
section {
  width: 100%;
  position: relative;
}
#section-1 {
  background-color: #3B465C;
  height: 100vh;
}
#section-2 {
  background-color: #1D232E;
  height: 180vh;
  text-shadow: 0px 3px 1px hsla(225, 25%, 3%, 30%);
}
#section-3 {
  background-color: #121720;
  height: 50vh;
}
#definition-section {
  padding-left: 8vw;
}

.spacer {
  border: 3.5em solid #3B465C;
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width:10px;
  height:10px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%; 
  pointer-events:none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}
.inner-cursor.grow {
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}
.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.05s;
  z-index: 1000;
}

#logo {
  font-family: "Amiko Bold";
  font-size: 1.1rem;
  padding: 5px;
}
#welcome-message {
  font-family:"Amiko Bold";
  font-size: 5.5rem;
  line-height:1.2em;
  margin-top: calc(-20vh - 10px);
}
#sub-message {
  font-family: "Apparel Regular";
  width:100%;
  font-size:2rem;
  letter-spacing: .1em;
  font-weight:500;
  margin-bottom:1vh;
}
.welcome-container {
  width:100vw;
  min-height: 1000px;
  display:flex;
  justify-content: center;
  align-items:end;
  flex-direction: row;
  overflow-x:hidden;
}
.circle {
  position:absolute;
  bottom:calc(-5em / 1.035);
  width: 100vh;
  height: 0;
  line-height: 6em;
  padding: calc(100vh/2) 0;
  border-radius: 75%;
  font-size: 20px;
  text-align: center;
  background-image: 
    radial-gradient(circle at center center, #3B465C 30%, transparent 70% 150%),
    radial-gradient(circle at center center, transparent 15%, Hsl(57,32%,87%) 90%);
  z-index:500;
}
.gradientLeft {
  width: 44rem;
  height: 0;
  padding: 22rem 0;
  border-radius: 75%;
  background-image:
    radial-gradient(circle at center center, Hsl(57,32%,87%) -700%, transparent 50%),
    radial-gradient(circle at center center, transparent 30%, #3B465C 150%);
  margin-bottom: -954px;
  margin-left: -445px;
}
.gradientRight {
  width: 44rem;
  height: 0;
  padding: 22rem 0;
  border-radius: 75%;
  background-image:
    radial-gradient(circle at center center, Hsl(57,32%,87%) -700%, transparent 50%),
    radial-gradient(circle at center center, transparent 30%, #3B465C 150%);
  margin-bottom: -960px;
  margin-left: 1200px;
}
a#scroll-button {
  border: solid hsla(60, 32%, 92%, 80%);
  border-width: 0 .5rem .5rem 0;
  border-radius:.25em;
  display: inline-block;
  padding: .6rem;
  transform: rotate(45deg);
}
.button {
  position:relative;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.button:hover {
  transform: translateY(-10px);
}
.button:hover #scroll-button {
  border:solid rgb(241, 241, 234);
  border-width: 0 .5rem .5rem 0;
  border-radius:.25em;
}

#word {
  font-size: 4rem;
  font-family: "Apparel Bold";
  letter-spacing: 2px;
  padding-top:5rem;
  text-shadow:0px 4px 1px hsla(225, 25%, 3%, 30%);
}
#pronounciation {
  font-size: 1.4rem;
  font-family: "Apparel Bold";
  color: hsla(60, 32%, 92%, 80%);
}
#definition {
  margin-top:.2em;
  font-size: 1.6rem;
  font-family: "Apparel Regular Italic";
  line-height:2em;
  color: hsla(60, 32%, 92%, 70%);
  letter-spacing: 0.05em;
  margin-left:1rem;
}
.bold {
  font-family:"Apparel Bold Italic";
  letter-spacing:0.08em;
}

#section-title {
  font-family: "Apparel Display Regular";
  font-weight:100;
  font-size:5.3rem;
  text-align:center;
  text-shadow:0px 6px 1.5px hsla(225, 25%, 3%, 30%);
  margin-top:12rem;
}

.container {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  max-width:2000px;
  margin: 3rem auto;
}
.left {
  width:60%;
  height:600px;
  background:url(imgs/img.jpg) no-repeat center / cover;
  border-radius:8px;
  box-shadow:10px 10px 4px hsla(225, 25%, 3%, 20%);
}
.right {
  width:40%;
  min-height:400px;
  background-color: rgba(59, 70, 92, 0.273);
  backdrop-filter: blur(20px);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:30px;
  border-radius:8px;
  color:#F1F1E4;
  margin-left:-200px;
  box-shadow:10px 10px 4px hsla(225, 25%, 3%, 20%);
} 
.right p {
  font-size:20px;
  font-family: "Amiko Regular";
  font-weight: lighter;
}

.next-container {
  position:relative;
  bottom:0;
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  max-width:2000px;
  padding: 5vh 10vw 5vh 10vw;
}
.next-left {
  width: 50%;
  height:100%;
}
.next-left h1 {
  font-family: "Apparel Display Regular";
  font-weight:100;
  font-size:5.2rem;
  text-align:left;
  text-shadow:0px 6px 1.5px hsla(225, 25%, 3%, 30%);
  line-height:1em;
  color: rgba(233, 232, 212, 1);
}
.next-left h2 {
  font-family:"Amiko Regular";
  font-size:1rem;
  text-align:left;
  font-weight:lighter;
  padding-left:2.8vw;
  margin-bottom:2vh;
  color: rgba(233, 232, 212, .8);
}
.next-right {
  width:50%;
  height:100%;
  text-align:right;
  justify-content: center;
  margin-top:12vh;
}
.next-right a {
  height:100%;
  color:rgba(233, 232, 212, .8);
  font-family:"Amiko Bold";
  text-decoration: none;
  font-size:3em;
}
a:hover {
  color:rgb(241, 241, 234);
}

/* FOR TEMP PAGE */
.temp-page {
  overflow-y: hidden;
}
.temp-container {
  width:100%;
  height:100%;
  text-align:center;
  position:relative;
  padding-top:30vh;
}
.temp-container a {
  color:rgba(233, 232, 212, .8);
  font-family:"Amiko Bold";
  text-decoration: none;
  font-size:3em;
}
.temp-container a:hover {
  color:rgb(241, 241, 234);
}

@media only screen and (max-width:800px) {
  .container , .next-container{
    flex-direction:column;
    width:100%;
  }
  .left {
    width:100%;
    height:400px;
  }
  .right {
    width:90%;
    margin:0;
    margin-top:-100px;
  }
  .next-container {
    justify-content:space-between;
    padding: 5vh 5vw;
  }
  .next-left {
    width:100%;
  }
  .next-right {
    margin-top:5vh;
    text-align: right;
    width:100%;
  }
}

@media only screen and (max-width:450px) {
  .circle {
    line-height: 5em;
  }
  #welcome-message {
    font-size:4.3rem;
  }
  #sub-message {
    font-size:1.7rem;
  }
  .inner-cursor {
    z-index:0;
  }
  .outer-cursor {
    z-index:0;
  }
  #section-title {
    font-size:4.3rem;
  }
  .left {
    border-radius:0;
  }
  .next-left h1 {
    font-size:4.2rem;
  }
}
