* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Apparel Bold";
  src: url(fonts/Apparel-Bold.ttf);
}
@font-face {
  font-family:"Apparel Regular";
  src:url(fonts/Apparel-Regular.ttf);
}
@font-face {
  font-family: "Amiko Bold";
  src: url(fonts/Amiko-Bold.ttf);
}
@font-face {
  font-family: "Amiko Regular";
  src: url(fonts/Amiko-Regular.ttf);
}
@font-face {
  font-family: "Apparel Regular Italic";
  src: url(fonts/Apparel-Regular-It.ttf);
}
@font-face {
  font-family: "Apparel Bold Italic";
  src: url(fonts/Apparel-Bold-It.ttf);
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}
body {
  overflow-x:hidden;
  background-color:#3B465C;
  height:100vh;
  margin: 0px;
  padding: 0px;
  position:relative;
  color: #F1F1E4;
  cursor: url("imgs/newcursor.png"), auto;
}
section {
  height:100vh;
  width:100%;
  position: relative;
}
#section-2 {
  background-color:#1D232E;
  height:180vh;
  text-shadow:0px 3px 1px hsla(225, 25%, 3%, 30%);
}
#section-3 {
  background-color:#121720;
  height:50vh;
}
#definition-section {
  padding-left:8vw;
}

#logo {
  font-family: "Amiko Bold";
  font-size:1.1rem;
  margin: 10px 10px 80px 10px;
}
#welcome-message {
  font-family:"Amiko Bold";
  font-size: 5rem;
  margin-top:-20%;
}
#sub-message {
  font-family: "Apparel Regular";
  width:100%;
  font-size:2rem;
  letter-spacing: .1em;
  font-weight:500;
  margin-bottom:1em;
}
.circle {
  width: 44rem;
  height: 0;
  line-height: 128px;
  padding: 22rem 0;
  border-radius: 75%;
  font-size: 20px;
  text-align: center;
  background-image: 
    radial-gradient(circle at center center, #3B465C 30%, transparent 70% 150%),
    radial-gradient(circle at center center, transparent 15%, Hsl(57,32%,87%) 90%);
  margin: 0 auto;
}
.gradientLeft {
  width: 44rem;
  height: 0;
  padding: 22rem 0;
  border-radius: 75%;
  background-image:
    radial-gradient(circle at center center, Hsl(57,32%,87%) -700%, transparent 50%),
    radial-gradient(circle at center center, transparent 30%, #3B465C 150%);
  margin-bottom: -954px;
  margin-left: -445px;
}
.gradientRight {
  width: 44rem;
  height: 0;
  padding: 22rem 0;
  border-radius: 75%;
  background-image:
    radial-gradient(circle at center center, Hsl(57,32%,87%) -700%, transparent 50%),
    radial-gradient(circle at center center, transparent 30%, #3B465C 150%);
  margin-bottom: -960px;
  margin-left: 1200px;
}
a#scroll-button {
  border: solid #F1F1E4;
  border-width: 0 .5rem .5rem 0;
  border-radius:.25em;
  display: inline-block;
  padding: .6rem;
  transform: rotate(45deg);
}
.button {
  position:relative;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.button:hover {
  transform: translateY(-10px);
}
#word {
  font-size: 4rem;
  font-family: "Apparel Bold";
  letter-spacing: 2px;
  padding-top:5rem;
  text-shadow:0px 4px 1px hsla(225, 25%, 3%, 30%);
}
#pronounciation {
  font-size: 1.4rem;
  font-family: "Apparel Bold";
  color: hsla(60, 32%, 92%, 80%);
}
#definition {
  margin-top:.2em;
  font-size: 1.6rem;
  font-family: "Apparel Regular Italic";
  line-height:2em;
  color: hsla(60, 32%, 92%, 70%);
  letter-spacing: 0.05em;
  margin-left:1rem;
}
.bold {
  font-family:"Apparel Bold Italic";
  letter-spacing:0.08em;
}

#section-title {
  font-family: "Apparel Regular";
  font-weight:100;
  font-size:4rem;
  text-align:center;
  text-shadow:0px 6px 1.5px hsla(225, 25%, 3%, 30%);
  margin-top:14rem;
}
.container {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  max-width:2000px;
  margin: 3rem auto;
}
.left {
  width:60%;
  height:600px;
  background:url(imgs/img.jpg) no-repeat center / cover;
  border-radius:8px;
  box-shadow:10px 10px 4px hsla(225, 25%, 3%, 20%);
}
.right {
  width:40%;
  min-height:400px;
  background-color: rgba(59, 70, 92, 0.273);
  backdrop-filter: blur(20px);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:30px;
  border-radius:8px;
  color:#F1F1E4;
  margin-left:-200px;
  box-shadow:10px 10px 4px hsla(225, 25%, 3%, 20%);
}
.right p {
  font-size:20px;
  font-family: "Amiko Regular";
  font-weight: lighter;
}

.next-container {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  max-width:2000px;
  margin: 3rem auto;
}
.next-left {
  padding-left:5vw;
  padding-top:5vh;
}
.next-left h1 {
  font-family: "Apparel Regular";
  font-weight:100;
  font-size:5.3rem;
  text-align:left;
  text-shadow:0px 6px 1.5px hsla(225, 25%, 3%, 30%);
  line-height:1em;
  color: rgba(233, 232, 212, 1);
}
.next-left h2 {
  font-family:"Amiko Regular";
  font-size:1rem;
  text-align:left;
  font-weight:lighter;
  padding-left:2.8vw;
  margin-bottom:2vh;
  color: rgba(233, 232, 212, .8);
}

@media only screen and (max-width:768px) {
  .container {
    flex-direction:column;
    width:100%;
  }
  .left {
    width:100%;
    height:400px;
  }
  .right {
    width:90%;
    margin:0;
    margin-top:-100px;
  }
}
